.loader {
  position: relative;
  box-sizing: border-box; }
  .loader::after, .loader::before {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    content: "";
    box-sizing: border-box;
    transform: rotateZ(360deg); }
  .loader.full-page, .loader.on-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); }
  .loader.full-page {
    position: fixed;
    background-color: white; }

.loader-default {
  min-height: 65px; }
  .loader-default::before {
    border-radius: 50%;
    border: 5px solid rgba(200, 0, 105, 0.4);
    border-left-color: #c80069;
    height: 45px;
    width: 45px;
    top: 50%;
    left: 50%;
    margin-top: -22.5px;
    margin-left: -22.5px;
    animation: defaultAnimation 1.35s infinite linear; }
  .loader-default::after {
    display: none; }

@keyframes defaultAnimation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.loader-bar {
  min-height: 25px; }
  .loader-bar::before, .loader-bar::after {
    border-radius: 3px;
    height: 5px;
    top: 50%;
    margin-top: -2.5px; }
  .loader-bar::before {
    background-color: #c8c8c8;
    margin-left: 10%;
    width: 80%; }
  .loader-bar::after {
    background-color: #c80069;
    width: 16%;
    animation: loadBar infinite 2s alternate; }

@keyframes loadBar {
  from {
    left: 10%; }
  to {
    left: 74%; } }

.loader-dots {
  min-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-dots::after {
    background-color: transparent;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-top: -6px;
    animation: dots 1.6s linear infinite; }

@keyframes dots {
  0% {
    box-shadow: -10px 6px 0 0 rgba(200, 0, 105, 0), 0 6px 0 0 rgba(200, 0, 105, 0), 10px 6px 0 0 rgba(200, 0, 105, 0); }
  5% {
    box-shadow: -10px 6px 0 0 rgba(200, 0, 105, 0.5), 0 6px 0 0 rgba(200, 0, 105, 0), 10px 6px 0 0 rgba(200, 0, 105, 0); }
  15% {
    box-shadow: -10px 6px 0 0 #c80069, 0 6px 0 0 rgba(200, 0, 105, 0), 10px 6px 0 0 rgba(200, 0, 105, 0); }
  35% {
    box-shadow: -10px 6px 0 0 #c80069, 0 6px 0 0 rgba(200, 0, 105, 0.5), 10px 6px 0 0 rgba(200, 0, 105, 0); }
  45% {
    box-shadow: -10px 6px 0 0 #c80069, 0 6px 0 0 #c80069, 10px 6px 0 0 rgba(200, 0, 105, 0); }
  65% {
    box-shadow: -10px 6px 0 0 #c80069, 0 6px 0 0 #c80069, 10px 6px 0 0 rgba(200, 0, 105, 0.5); }
  75% {
    box-shadow: -10px 6px 0 0 #c80069, 0 6px 0 0 #c80069, 10px 6px 0 0 #c80069; }
  95% {
    box-shadow: -10px 6px 0 0 rgba(200, 0, 105, 0), 0 6px 0 0 rgba(200, 0, 105, 0), 10px 6px 0 0 rgba(200, 0, 105, 0); } }

.loader-spinner {
  min-height: 80px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-spinner::after {
    background-color: transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spinner 1.4s linear infinite; }

@keyframes spinner {
  0% {
    box-shadow: 25px 0px 0 0 #c80069, 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), 0px 25px 0 0 rgba(200, 0, 105, 0.2), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.3), -25.0px 0px 0 0 rgba(200, 0, 105, 0.4), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.5), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.6), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.7), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.8), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.9); }
  9.09091% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.9), 21.65064px 12.5px 0 0 #c80069, 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), 0px 25px 0 0 rgba(200, 0, 105, 0.2), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), -25.0px 0px 0 0 rgba(200, 0, 105, 0.3), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.4), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.5), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.6), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.7), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.8); }
  18.18182% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.8), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.9), 12.5px 21.65064px 0 0 #c80069, 0px 25px 0 0 rgba(200, 0, 105, 0.2), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), -25.0px 0px 0 0 rgba(200, 0, 105, 0.2), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.3), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.4), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.5), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.6), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.7); }
  27.27273% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.7), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.8), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.9), 0px 25px 0 0 #c80069, -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), -25.0px 0px 0 0 rgba(200, 0, 105, 0.2), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.2), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.3), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.4), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.5), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.6); }
  36.36364% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.6), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.7), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.8), 0px 25px 0 0 rgba(200, 0, 105, 0.9), -12.5px 21.65064px 0 0 #c80069, -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), -25.0px 0px 0 0 rgba(200, 0, 105, 0.2), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.2), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.2), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.3), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.4), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.5); }
  45.45455% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.5), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.6), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.7), 0px 25px 0 0 rgba(200, 0, 105, 0.8), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.9), -21.65064px 12.5px 0 0 #c80069, -25.0px 0px 0 0 rgba(200, 0, 105, 0.2), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.2), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.2), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.2), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.3), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.4); }
  54.54545% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.4), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.5), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.6), 0px 25px 0 0 rgba(200, 0, 105, 0.7), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.8), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.9), -25.0px 0px 0 0 #c80069, -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.2), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.2), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.2), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.2), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.3); }
  63.63636% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.3), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.4), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.5), 0px 25px 0 0 rgba(200, 0, 105, 0.6), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.7), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.8), -25.0px 0px 0 0 rgba(200, 0, 105, 0.9), -21.65064px -12.5px 0 0 #c80069, -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.2), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.2), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.2), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.2); }
  72.72727% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.2), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.3), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.4), 0px 25px 0 0 rgba(200, 0, 105, 0.5), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.6), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.7), -25.0px 0px 0 0 rgba(200, 0, 105, 0.8), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.9), -12.5px -21.65063px 0 0 #c80069, 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.2), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.2), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.2); }
  81.81818% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.2), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.3), 0px 25px 0 0 rgba(200, 0, 105, 0.4), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.5), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.6), -25.0px 0px 0 0 rgba(200, 0, 105, 0.7), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.8), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.9), 0.00001px -25.0px 0 0 #c80069, 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.2), 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.2); }
  90.90909% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.2), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), 0px 25px 0 0 rgba(200, 0, 105, 0.3), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.4), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.5), -25.0px 0px 0 0 rgba(200, 0, 105, 0.6), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.7), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.8), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.9), 12.50014px -21.6506px 0 0 #c80069, 21.65176px -12.49972px 0 0 rgba(200, 0, 105, 0.2); }
  100% {
    box-shadow: 25px 0px 0 0 rgba(200, 0, 105, 0.2), 21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.2), 12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.2), 0px 25px 0 0 rgba(200, 0, 105, 0.2), -12.5px 21.65064px 0 0 rgba(200, 0, 105, 0.3), -21.65064px 12.5px 0 0 rgba(200, 0, 105, 0.4), -25.0px 0px 0 0 rgba(200, 0, 105, 0.5), -21.65064px -12.5px 0 0 rgba(200, 0, 105, 0.6), -12.5px -21.65063px 0 0 rgba(200, 0, 105, 0.7), 0.00001px -25.0px 0 0 rgba(200, 0, 105, 0.8), 12.50014px -21.6506px 0 0 rgba(200, 0, 105, 0.9), 21.65176px -12.49972px 0 0 #c80069; } }

.loader-pulsate {
  min-height: 60px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-pulsate::after {
    border-radius: 50%;
    border: 5px #c80069 solid;
    width: 40px;
    height: 40px;
    transform: scale(0.2);
    will-change: transform;
    animation: pulsate 1.35s ease-out infinite; }

@keyframes pulsate {
  0% {
    transform: scale(0.2);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

.loader-heartbeat {
  min-height: 50px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader-heartbeat::after, .loader-heartbeat::before {
    background-color: #c80069;
    border-radius: 18.75px 18.75px 0 0;
    height: 30px;
    width: 18.75px; }
  .loader-heartbeat::before {
    transform: translateX(-21%) rotate(-45deg);
    animation: heartbeatLeft 1s infinite; }
  .loader-heartbeat::after {
    transform: translateX(21%) rotate(45deg);
    animation: heartbeatRight 1s infinite; }

@keyframes heartbeatLeft {
  0% {
    transform: scale(0.75) translateX(-21%) rotate(-45deg); }
  20% {
    transform: scale(1) translateX(-21%) rotate(-45deg); }
  40% {
    transform: scale(0.75) translateX(-21%) rotate(-45deg); }
  60% {
    transform: scale(1) translateX(-21%) rotate(-45deg); }
  80% {
    transform: scale(0.75) translateX(-21%) rotate(-45deg); }
  100% {
    transform: scale(0.75) translateX(-21%) rotate(-45deg); } }

@keyframes heartbeatRight {
  0% {
    transform: scale(0.75) translateX(21%) rotate(45deg); }
  20% {
    transform: scale(1) translateX(21%) rotate(45deg); }
  40% {
    transform: scale(0.75) translateX(21%) rotate(45deg); }
  60% {
    transform: scale(1) translateX(21%) rotate(45deg); }
  80% {
    transform: scale(0.75) translateX(21%) rotate(45deg); }
  100% {
    transform: scale(0.75) translateX(21%) rotate(45deg); } }

/*# sourceMappingURL=loaders.css.map */