@import "config";

@mixin loader {
  position: relative;
  box-sizing: border-box;

  &::after,
  &::before {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    content: "";
    box-sizing: border-box;
    transform: rotateZ(360deg);
  }

  &.full-page,
  &.on-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $onElementBackground;
  }

  &.full-page {
    position: fixed;
    background-color: $fullPageBackground;
  }
}