// Base
$fullPageBackground: rgba(255, 255, 255, 1);
$onElementBackground: rgba(255, 255, 255, 0.6);

$paddingVertical: 10px;

// Default loader
$default-size: 45px;
$default-width: 5px;
$default-color: rgba(200, 0, 105, 1);

// Bar loader
$bar-height: 5px;
$bar-width: 80%;
$bar-innerWidth: 16%;
$bar-borderRadius: 3px;
$bar-backgroundColor: rgba(200, 200, 200, 1);
$bar-color: $default-color;

// Dots loader
$dots-size: 6px;
$dots-spacing: 4px;
$dots-color: $default-color;
$dots-time: 1.6s;

// Spinner loader
$spinner-circle-size: 10px;
$spinner-color: $default-color;
$spinner-time: 1.4s;